body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Luxurious Roman', cursive;
}
#books{
  margin-top: 150px;
}
header{
  background: #F0FFF0;
}
ul li a{
  margin-left: 20px;
  font-weight: 700;
  cursor: pointer;
}
.sign{
  margin-top: 8px;
}
.sign-in{
  background: #21B573;
  text-align: center;
  border-radius: 25px;
  padding: 12px 28px;
  text-decoration: none;
  color: #fff;
  transition: .5s ease;
}
.sign-in:hover{
  color: #fff;
  box-shadow: 2px 2px 10px gray;
}
.head-text .para{
  color: #FD511A;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 30px;
}
.head-text .ready{
  font-size: 48px;
  width: 400px;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}
.head-text .ready span{
  color: #21B573;
}
.head-text .par{
  color: gray;
  width: 350px;
  margin-bottom: 30px;
}
.get-start-button{
  background: #21B573;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
}
.card-img-top{
  height: 100px;
  width: 80px;
}
.one{
  background: #F0FFF0;
}
.one h5,
.two h5{
  font-weight: bold;
}
.two{
  background: #fff;
  box-shadow: 0px 5px 20px gray;
}
.card{
  border-radius: 15px;
  border: none;
  background-color: #f3f0eb;
}
.card img{
  border-radius: 25px;
  padding: 15px;
}
i{
  margin-right: 8px;
  padding-top: 3px;
}
.seat-date{
  padding: 0px 10px;
}
.card-title{
  font-weight: bold;
}
.man{
  width: 120px;
}
.foot p,
.foot h5{
  color: #fff;
}
.foot a{
  padding-left: 0px;
  line-height: 10px;
  color: #fff;
}
.foot a:hover{
  color: gray;
}
.copyright{
  color: gray;
}
@media screen and(max-width: 576px) {
  /* .container-fluid{
    padding: 0px 0px;
  } */
}